body {
  background-color:hsl(237, 49%, 15%);
}

.container {
  max-width: 90%;
  width: 80%;
  height:20%;
  margin-top: 10px;
  margin-bottom: 5%;
  border: solid 3px hsl(217, 16%, 45%);
  border-radius: 10px;
  margin-left: 10%;
  left: 0;
  display: flex;
}

.rounds {
  background: #fff;
  padding: 1%;
  margin: 4px;
  margin-left: auto;
  border-radius: 5px;
  width: 13%;
  height: 120px;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: hsl(229, 64%, 46%);
}

.sub-header {
  color: hsl(229, 25%, 31%);
  text-align: center;
  font-size: 45px;
  margin-top: -20px;
}

.item-container {
  margin: 1%; 
}

.logo{
  width: 130%;
  height: 95%
}

.main-container{
  display: block;
  position: relative;
}

.bg-triangle{
 margin-top: 4%;
 margin-left: 35%;
 width:25%;
 position: relative;
}

.rock-container{
  position: fixed;
  margin-left: 43%;
  margin-top: -8%;
}

.paper-container{
  margin-left: 33%;
  position: fixed;
  margin-top: -25%;
}

.computer-result {
  margin-left: 61%;
  position: fixed;
  margin-top: -11%;
}

.scissors-container {
  margin-left: 52%;
  margin-top: -24%;
  position: fixed;
}

.circle {
  width:150px;
  height:150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  margin-left: 30%;
  margin-top: -2%;
}

.sub-container {
  display: flex;
}

.paper-circle {
  background-color: hsl(230, 89%, 62%);
}

.rock-circle {
  background-color:  hsl(349, 71%, 52%);
}

.scissors-circle {
  background-color: hsl(39, 89%, 49%)
}

.inner-circle {
  width: 110px;
  height:110px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.inner-computer-circle{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.outer-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  background-color: rgb(180, 169, 240);
  justify-content: center;
  align-items: center;
}

.rock-icon .paper-icon .scissors-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rule-btn {
  padding: 5px 10px 18px 20px;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  width:80px;
  height:30px;
  margin-left: auto;
  margin-bottom: 4%;
  margin-top: 10px;
  text-align: center;
  border: #fff solid 1px;
}

.rule-container {
display: none;
height: 80%;
background-color: #fff;
position: fixed;
bottom: 10%;
left: 25%;
width: 50%;
}

.rule{
  text-align: center;
  margin:10px;
}

.sub-rules{
  margin: 2%;
  display: flex;
}

.rules-title{
  font-size: 30px;
  margin: 10px;
  font-weight: 700;
  color: hsl(217, 16%, 45%);
}

.close-rule{
  margin-left: 70%;
  width: 40px;
  height: 35px;
  margin-top: 2%;
}

.rule-image{
   margin: auto;
   margin-left: 1%;
   width: 70%;
   height: 55%;
}

.active{
  display: block;
}

.in-active{
  display: none;
}

.team{
  display: flex;
  margin: 10px;
  font-size: 20px;
}

.choice-team {
  margin: auto;
}

@media only screen and (min-width:768px) and (max-width: 1024px){
  .item-container {
    margin: 4%; 
  }
  
  .rounds {
    width: 27%;
  }

  .bg-triangle{
    margin-top: 14%;
    margin-left: 20%;
    width:55%;
    position: relative;
   }
   
  
  .paper-container {
    margin-top: -55%;
    margin-left: 20%;
   }

   .scissors-container {
    margin-left: 55%;
    margin-top: -55%;
  } 

   .rock-container {
  margin-left: 35%;
  margin-top: -20%;
 }
 
 .rule-btn{
  margin-top: 20%;
 }
 
}

@media only screen and (max-width: 600px){
  .item-container {
    margin: 4%; 
  }
  
  .rounds {
    background: #fff;
    padding: 1%;
    margin: 4px;
    margin-left: auto;
    border-radius: 5px;
    width: 37%;
    height: 120px;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: hsl(229, 64%, 46%);
    margin-top: 10px;
  }
  
  .sub-header {
    color: hsl(229, 25%, 31%);
    text-align: center;
    font-size: 45px;
    margin-top: -20px;
  }

  .logo{
    width: 80%;
    height: 100%;
    margin: 1%;
  }

  .bg-triangle{
    margin-top: 19%;
    margin-left: 16%;
    width: 70%;
    position: relative;
   }

   .paper-container {
    margin-top: -70%;
    margin-left: 10%;
   }

   .scissors-container {
    margin-left: 58%;
    margin-top: -70%;
  } 

   .rock-container {
  margin-left: 33%;
  margin-top: -20%;
 }


.rule-btn{
  height: 25px;
  margin-left: 34%;
  margin-top: 30%;
  text-align: center;
  position: fixed;
  width: 90px;
}

.circle {
  width: 120px;
  height: 130px;
}

.inner-circle {
  width: 70%;
  height: 70%;
}

.rule-container {
  height: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.rule-image {
  width: 100%;
  margin-top: 20%;
  margin-left: 0px;
}
.sub-rules {
  margin-top: 30%;
  text-align: center;
  display: block;
}

.close-rule{
  display: none;
}
}

/*

table,
th,
td {
  border: 1px solid rgb(163, 140, 131);
}

table {
  width: 40%;
}

h1 {
  font-size: 30px;
}

.popup {
  z-index: 1;
  width: 80%;
  height: 80%;
  box-sizing: border-box;
  top: 1%;
  transform: translate(0, 5%);
  background-color: rgb(223, 151, 118);
  color: white;
  text-align: center;
  margin: 10%;
  position: absolute;
  opacity: 0.8;
  padding-top: 170px;
}

.game {
  padding: 19px;
  z-index: -3;
  background-color: black;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  display: flex;
  margin: 2px 44%;
}

.mytxt {
  font-size: 40px;
  color: black;
}

.resultTeam {
  font-size: 40px;
  color: black;
}



.btn {
  width: 150px;
  height: 150px;
  background: rgb(223, 151, 118);
  padding: 2% 2% 2% 2%;
  border-radius: 5%;
  margin-left: 12%;
}

.btn-container {
  padding: 0 20px 0 5px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}


.table-team {
  margin: auto;
  width: 50%;
  background-color: rgb(223, 151, 118);
  color: black;
  font-size: 20px;
  margin-bottom: 10%;
}
tr:nth-child(even) { background-color: #f2f2f2; }

.hidden {
  display: none;
}



@media only screen and (max-width: 768px) {
  .container {
    max-width:80%;
    width: 77%; 
    margin-bottom: 5%;
    margin-left: 11%;
  }
  .item-container {
    line-height: 20px;
    margin: 2%;
}
  .rounds {
    width: 50px;
    padding: 9%;
    height: 16%;
    margin-top: 6px;
    margin-right: 9%;
    margin-left: 1%;
  }
}

*/