body {
  background-color: #f2f2f2;
}

table,
th,
td {
  border: 1px solid rgb(163, 140, 131);
}

table {
  width: 40%;
}

h1 {
  font-size: 30px;
}

.popup {
  z-index: 1;
  width: 80%;
  height: 80%;
  box-sizing: border-box;
  top: 1%;
  transform: translate(0, 5%);
  background-color: rgb(223, 151, 118);
  color: white;
  text-align: center;
  margin: 10%;
  position: absolute;
  opacity: 0.8;
  padding-top: 170px;
}

.container {
  margin: 34%;
  margin-top: 10px;
  margin-bottom: 5%;
  border: solid 2px rgb(177, 139, 124);
  background-color: rgb(224, 212, 203);
  left: 0;
  display: flex;
}

.game {
  padding: 19px;
  z-index: -3;
  background-color: black;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  display: flex;
  margin: 2px 44%;
}

.mytxt {
  font-size: 40px;
  color: black;
}

.resultTeam {
  font-size: 40px;
  color: black;
}

.rounds {
  background: #fff;
  width: 50px;
  padding: 9%;
  height: 16%;
  margin-top: 6px;
  margin-right: 9%;
  margin-left: 32%;
  margin-bottom: 2%;
  border-radius: 5px;
  font-size: 30px;
  color: rgb(223, 151, 118);
}

.item-container {
  line-height: 20px;
  font-size: 17px;
  margin-left: 10px;
  color: black;
}

.btn {
  width: 150px;
  height: 150px;
  background: rgb(223, 151, 118);
  padding: 2% 2% 2% 2%;
  border-radius: 5%;
  margin-left: 12%;
}

.btn-container {
  padding: 0 20px 0 5px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.choice {
  width: 20%;
  min-height: 15%;
  background: rgb(224, 196, 174);
  padding-top: 50px;
  color: rgb(29, 5, 5);
  border-radius: 65%;
  border: solid 5px rgb(163, 140, 131);
  position: absolute;
  text-align: center;
}

.teams {
  display: flex;
  margin: 5%;
  font-size: 20px;
}

.choice-team {
  margin: auto;
}

.result-team {
  margin-left: 36%;
  margin-bottom: 20%;
  font-size: 30px;
  margin-top: 16%;
}

.table-team {
  margin: auto;
  width: 50%;
  background-color: rgb(223, 151, 118);
  color: black;
  font-size: 20px;
  margin-bottom: 10%;
}
tr:nth-child(even) { background-color: #f2f2f2; }

.hidden {
  display: none;
}

@media only screen and (max-width: 1102px) {
  .container {
    margin: 32%;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .choice {
    width: 30%;
  }

  .rounds {
    margin-top: 6px;
    margin-right: 7%;
    margin-left: 25%;
    border-radius: 5px;
  }

  .choice-team {
    margin-left: 8%;
    margin-top: 1%;
  }

  .btn {
    width: 100px;
    height: 100px;
    margin-left: 14%;
  }

  .result-team {
    margin-left: 29%;
    margin-bottom: 19%;
    margin-top: 15%;
    font-size: 22px;
  }

  .item-container {
    line-height: 22px;
  }

  .teams {
    display: flex;
    margin-top: 5%;
    font-size: 17px;
  }

  .table-team {
    margin: auto;
    width: 70%;
    margin-bottom: 10%;
  }

  .game {
    padding: 9px;
    margin: 2px 45%;
  }

  .popup {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    margin: 30%;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .choice {
    padding-top: 17%;
  }

  .rounds {
    margin-top: 6px;
    margin-right: 7%;
    margin-left: 20%;
    border-radius: 5px;
  }

  .choice-team {
    margin-left: 11%;
    margin-top: 1%;
  }

  .btn {
    width: 100px;
    height: 100px;
    margin-left: 14%;
  }

  .result-team {
    margin-left: 29%;
    margin-bottom: 40%;
    margin-top: 35%;
    font-size: 22px;
  }

  .item-container {
    line-height: 22px;
  }

  .teams {
    display: flex;
    margin-top: 5%;
    font-size: 17px;
  }

  .table-team {
    margin: auto;
    width: 70%;
    margin-bottom: 10%;
  }

  .game {
    padding: 9px;
    margin: 2px 45%;
  }

  .popup {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 760px) {
  .container {
    margin: 20%;
    margin-top: 10px;
    margin-bottom: 25px;
    border: solid 2px;
    background-color: rgb(224, 212, 203);
    left: 0;
    display: flex;
  }

  .rounds {
    width: 50px;
    padding: 9%;
    height: 16%;
    margin-top: 6px;
    margin-right: 7%;
    margin-left: 20%;
    border-radius: 5px;
  }

  .choice-team {
    margin-left: 10%;
    margin-top: 1%;
  }

  .btn {
    width: 100px;
    height: 100px;
    margin-left: 9%;
  }

  .result-team {
    margin-left: 29%;
    margin-bottom: 30%;
    margin-top: 36%;
    font-size: 22px;
  }

  .choice {
    width: 27%;
    background: rgb(224, 196, 174);
    padding: 3% 2% 2% 2%;
  }

  .item-container {
    line-height: 22px;
  }

  .teams {
    display: flex;
    margin-top: 5%;
    font-size: 17px;
  }

  .table-team {
    margin: auto;
    width: 70%;
    margin-bottom: 10%;
  }

  .game {
    padding: 9px;
    margin: 2px 45%;
  }

  .popup {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 20%;
    margin-top: 10px;
    margin-bottom: 25px;
    border: solid 2px;
    background-color: rgb(224, 212, 203);
    left: 0;
    display: flex;
  }

  .rounds {
    width: 50px;
    padding: 9%;
    height: 16%;
    margin-top: 6px;
    margin-right: 7%;
    margin-left: 14%;
    border-radius: 5px;
  }

  .choice-team {
    margin-left: 11%;
    margin-top: 1%;
  }

  .btn {
    width: 100px;
    height: 100px;
    margin-left: 7%;
  }

  .result-team {
    margin-left: 29%;
    margin-bottom: 40%;
    margin-top: 42%;
    font-size: 22px;
  }

  .choice {
    padding-top: 17%;
    color: rgb(29, 5, 5);
    border-radius: 65%;
    border: solid 5px rgb(163, 140, 131);
    position: absolute;
    text-align: center;
    margin-left: -5px;
  }

  .item-container {
    line-height: 22px;
  }

  .teams {
    display: flex;
    margin-top: 5%;
    font-size: 17px;
  }

  .table-team {
    margin: auto;
    width: 70%;
    margin-bottom: 10%;
  }

  .game {
    padding: 9px;
    margin: 2px 45%;
  }

  .popup {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 485px) {
  .container {
    margin: 40px;
    margin-top: 10px;
    margin-bottom: 25px;
    border: solid 2px;
    background-color: rgb(224, 212, 203);
    left: 0;
    display: flex;
  }

  .rounds {
    margin-left: 26px;
  }

  .choice-team {
    margin-left: 9%;
    margin-top: 1%;
  }

  .mytxt {
    font-size: 30px;
    color: black;
  }

  .result-team {
    margin-left: 29%;
    margin-top: 65%;
    margin-bottom: 60%;
  }

  .item-container {
    line-height: 20px;
  }

  .teams {
    font-size: 17px;
  }

  .btn {
    width: 60px;
    height: 70px;
    margin-left: 10%;
  }

  .table-team {
    margin: auto;
    width: 70%;
    margin-bottom: 10%;
  }

  .popup {
    padding-top: 120px;
  }

  .choice {
    padding-top: 23%;
    color: rgb(29, 5, 5);
    border-radius: 65%;
    border: solid 5px rgb(163, 140, 131);
    position: absolute;
    text-align: center;
    margin-left: -5px;
  }
}

@media only screen and (max-width: 300px) {
  .container {
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    border: solid 2px;
    background-color: rgb(224, 212, 203);
    left: 0;
    display: flex;
  }

  .rounds {
    margin-left: 26px;
  }

  .choice-team {
    margin-left: 9%;
    margin-top: 1%;
  }

  .item {
    font-size: 16px;
  }

  .result-team {
    margin-left: 22%;
    margin-top: 75%;
    margin-bottom: 60%;
  }

  #item-choice {
    padding-top: 60px;
  }

  .item-container {
    line-height: 20px;
  }

  .teams {
    font-size: 17px;
  }

  .btn {
    width: 30px;
    height: 70px;
    margin-left: 5%;
  }

  .table-team {
    margin: auto;
    width: 70%;
    margin-bottom: 10%;
  }

  .popup {
    padding-top: 120px;
  }

  .choice {
    background: rgb(224, 196, 174);
    padding-top: 23%;
    color: rgb(29, 5, 5);
    border-radius: 65%;
    border: solid 5px rgb(163, 140, 131);
    position: absolute;
    text-align: center;
  }
}
